.wrapperForm {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  margin: 2%;
  padding: 0 1%;
  background-color: var(--primary-background);
  border-radius: var(--border-radius);
}

.formTittle {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0;
}

label,
input,
select,
textarea {
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  border: none;
  padding: 1%;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--font-color);
}

input,
select,
textarea {
  background-color: var(--third-background);
  font-weight: 400;
}

@keyframes error {
  from {
    opacity: 0;
  }
  to {
    background-color: 0.8;
  }
}

.formError {
  align-items: center;
  animation-duration: 0.5s;
  animation-name: error;
  background-color: var(--error-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  opacity: 0.8;
  width: 100%;
}

.formError p {
  font-size: 1.3rem;
  color: var(--body-background);
  font-weight: 700;
  margin: 0;
  padding: 2% 0;
  text-align: center;
}

.error-input {
  border: 1px solid var(--error-color);
}

.valid-input {
  border: 1px solid var(--valid-color);
}

.checkmark {
  position: absolute;
  top: 60%;
  right: -10px;
  transform: translateY(-50%);
  display: inline-block;
  color: var(--valid-color);
  font-weight: bold;
}
@media (min-width: 200px) and (max-width: 690px) {
  .wrapperForm {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-width: 200px;
    margin: 2%;
    padding: 0 1%;
    background-color: var(--primary-background);
    border-radius: var(--border-radius);
  }
}
