.streamersTable-body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-background);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  overflow: hidden;
  padding: 0 1%;
}
.table-responsive {
  margin-top: 1%;
  overflow-x: auto;
  width: 100%;
}
table {
  border-collapse: collapse;
  font-size: 1.4rem;
  width: 100%;
}
.table-header {
  padding: 5% 0;
  border-bottom: solid var(--body-background) 1px;
}
.storage__error {
  font-size: 2rem;
  margin: 1%;
  text-align: center;
}
td,
th {
  padding: 0.1%;
  text-align: center;
}
/* tr {
  height: 10px;
} */
tr:nth-child(even) {
  background-color: var(--body-background);
}
tr:hover {
  background-color: var(--secondary-background);
  cursor: pointer;
}
tr:first-child:hover {
  background-color: var(--secondary-background);
}
.container__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.controls__edit {
  cursor: pointer;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
}
.controls__edit .controls__edit-tooltiptext {
  background-color: var(--body-background);
  border-radius: 0.6em;
  color: var(--font-color);
  font-size: 1rem;
  padding: 10%;
  position: absolute;
  right: 105%;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 300%;
  z-index: 1;
}
.controls__edit:hover .controls__edit-tooltiptext {
  visibility: visible;
}
.controls__edit:hover {
  color: var(--scrollbar-color);
}
