.streamersTableBody {
  width: 100%;
  min-width: 420px;
  height: 100%;
  background-color: var(--primary-background);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  overflow: hidden;
  padding: 0 1%;
}
.tableResponsive {
  margin-top: 1%;
  overflow-x: hidden;
  width: 100%;
}
table {
  border-collapse: collapse;
  font-size: 1.4rem;
  width: 100%;
}
.tableHeader {
  padding: 5% 0;
  border-bottom: solid var(--body-background) 1px;
}
.tableError {
  font-size: 2rem;
  margin: 1%;
  text-align: center;
}
td,
th {
  padding: 0.1%;
  text-align: center;
}
tr:nth-child(even) {
  background-color: var(--body-background);
}
tr:first-child:hover {
  background-color: var(--secondary-background);
}
.container__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.controls__up {
  cursor: pointer;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
}
.controls__up .controls__up-tooltiptext,
.controls__down .controls__down-tooltiptext {
  background-color: var(--body-background);
  border-radius: 0.6em;
  color: var(--font-color);
  font-size: 1rem;
  padding: 10%;
  position: absolute;
  right: 105%;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 300%;
  z-index: 1;
}
.controls__up:hover .controls__up-tooltiptext {
  visibility: visible;
}
.controls__up:hover {
  color: var(--valid-color);
}
.controls__down {
  cursor: pointer;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
}
.controls__down .controls__down-tooltiptext {
  right: 0;
  top: -100%;
}
.controls__down:hover .controls__down-tooltiptext {
  visibility: visible;
}
.controls__down:hover {
  color: var(--error-color);
}
