.wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  margin: 2%;
  padding: 0 1%;
  background-color: var(--primary-background);
  border-radius: var(--border-radius);
}
.productModal {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.productModal__top {
  border-bottom: 1px solid var(--body-background);
  display: flex;
  flex-direction: row;
  height: 14%;
  justify-content: space-between;
  padding: 1%;
  width: 90%;
}
.productModal__title {
  font-family: var(--font-primary);
  font-size: 2rem;
}
.table__modal tr th {
  padding: 2%;
}
input,
select {
  width: 60%;
  border-radius: var(--border-radius);
  border: none;
  padding: 1%;
  background-color: var(--third-background);
  color: var(--font-color);
}
.productModal__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@keyframes error {
  from {
    opacity: 0;
  }
  to {
    background-color: 0.8;
  }
}
.error__div {
  align-items: center;
  animation-duration: 0.5s;
  animation-name: error;
  /* background-color: var(--mandarine); */
  border-radius: var(--border-radius);
  display: flex;
  height: 10%;
  justify-content: center;
  opacity: 0.8;
  width: 85%;
}
.width-100 {
  margin: 2rem 5%;
  width: 90%;
  border-radius: var(--border-radius);
}
.width-100:hover {
  background: var(--scrollbar-color);
  cursor: pointer;
}
