@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");

/* Theme */

:root {
  --font-color: #fff;
  --body-background: #222;
  --primary-background: #444;
  --secondary-background: #666;
  --third-background: #888;
  --scrollbar-color: #ffad09;
  --scrollbar-color-hover: #e69b08;
  --scrollbar-color-active: #b77b06;
  --scrollbar-track: #dfe9eb;
  --scrollbar-track-hover: #b8c0c2;
  --error-color: #ff0000;
  --valid-color: #00e900;

  --border-radius: 3px;

  --font-primary: "Roboto", sans-serif;
}
