@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");

/* Theme */

:root {
  --indigo: #635dff;
  --white: #fff;
  --violet: #8827d7;
  --dark-violet: #6200b3;
  --black: #222;
  --gray: #444;
  --dark-gray: #666;
  --light-gray: #888;

  --border-radius: 3px;

  --font-primary: "Roboto", sans-serif;
}
